[mysqld]

skip-external-locking
skip-name-resolve
skip-slave-start
gtid-domain-id                 = 1102
server_id                      = 1102
read_only                      = 1
user                           = mysql
