[mysqld]

log_slow_admin_statements    = ON                                                                                                                                   
log_slow_filter              = admin,filesort,filesort_on_disk,filesort_priority_queue,full_join,full_scan,query_cache,query_cache_miss,tmp_table,tmp_table_on_disk 
log_slow_rate_limit          = 10                                                                                                                                    
log_slow_slave_statements    = ON 

log_slow_verbosity           = query_plan,explain                                                                                                                                 
slow_query_log               = ON
slow_query_log_file          = /var/log/mysql/slow-query.log
long_query_time              = 0.005
log_warnings                 = 0
